body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

canvas {
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

#log {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

#layerSliderContainer {
    margin-top: 10px;
    display: none;
}

#layerSlider {
    width: 200px;
}

#layerLabel {
    margin-left: 10px;
    font-size: 16px;
}